<%- include('head'); %>
<body style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                    <img style="margin-top:-5%;" src="/img/404_2.gif" alt="imagen de error" class="img-response">
                    <div style="margin-top:-15%;">
                            <h3>No encontramos lo que buscabas! :( </h3>
                            <a href="/">Regresa a la pagína de Inicio</a>
                    </div>
            </div>
        </div>
    </div>
</body>