<footer class="row footer p-3 white">
    <div class="container">
            <div class="row text-dark">
                <div class="col s12 m6">
                    <h4 class="logo-text">Guiño</h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti nam beatae iusto assumenda accusamus vitae repellat numquam, corrupti quasi porro, cupiditate alias commodi. Earum, cupiditate consequatur. Minus, nam inventore.
                </div>
                <div class="col s12 m2">
                    <h5 class="logo-text">Empresa</h5>
                    <div class="collection">
                            <a href="#!" class="collection-item">Terminos</a>
                            <a href="#!" class="collection-item">Condiciones </a>
                            <a href="#!" class="collection-item">Politicas</a>
                            <a href="#!" class="collection-item">Privacidad</a>
                        </div>
                </div>
                <div class="col s12 m2">
                        <h5 class="logo-text">Recursos</h5>
                        <div class="collection">
                                <a href="#!" class="collection-item">Terminos</a>
                                <a href="#!" class="collection-item">Condiciones </a>
                                <a href="#!" class="collection-item">Politicas</a>
                                <a href="#!" class="collection-item">Privacidad</a>
                            </div>
                </div>
                <div class="col s12 m2">
                        <h5 class="logo-text">Soporte</h5>
                        <div class="collection">
                                <a href="#!" class="collection-item">Ticket</a>
                                <a href="#!" class="collection-item">Whatsapp </a>
                                <a href="#!" class="collection-item">Email</a>
                            
                            </div>
                </div>
            </div>
        </div>
</footer>