<!--JavaScript at end of body for optimized loading-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
$(document).ready( function(){
    console.log('Jquery Corriendo');
    $(".dropdown-trigger").dropdown();
    $('.sidenav').sidenav();
    $('.collapsible').collapsible(); 
    $('.tooltipped').tooltip({
        margin: 30
    });
    $('.tap-target').tapTarget();
    $('.tabs').tabs();

    function alerta(msj){
        M.toast({html: msj});
    }
    
});
</script> 
<script src="/js/themeDark.js"></script> 
</body>
</html>