<%- include('../head'); %>
<body class="blue bg_auth">
  <div class="container">
    <div class="row">
        <br> <br> <br>
        <form class="white z-depth-1 col s12 m6 offset-m7 border-radius" action="/auth/login" method="POST" >
          <div class="row p-3 center-align">
              <h3 class="center-align text-blue">Iniciar Sesion</h3>
              <%  if(false) { %>
                <span style="color: red; font-weight: 900;" class="center-align"> Usuario o Correo Inválido </span>
              <% } %> 
              <div class="input-field col s12 ">
                <input id="email" type="email" class="validate" name="username">
                <label for="email">Email de Unitec</label>
                <span class="helper-text left-align" data-error="error" data-success="listo"><b>*Correo Institucional usuario@unitec.edu</b></span>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password">
              <label for="psswod">Contraseña</label>
            </div>
          <div class="row text center p-3">
            <div class="col s12">
                <button type="submit" class="waves-effect waves-light btn center-align blue darken-3">
                <i class="material-icons right ">account_circle</i>Login</button> <br> 
                No tienes cuenta? <a href="/auth/signup">Registrate</a> 
            </div>
          </div>
        </form>
      </div>
</div>
<br><br>
<%- include('../scripts'); %>
</body>
